
# LLM
LLM_MODEL_ID=your-model-name
LLM_API_KEY=your-api-key-here
LLM_TIMEOUT=60

# Google Maps MCP
GOOGLE_API_KEY=your-google-api-key-here
GOOGLE_MCP_URL=https://mapstools.googleapis.com/mcp

## Langsmith Tracking
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY=your-langhcain-api-key
LANGCHAIN_PROJECT=your-langhcain-project-name